quarkus.http.port=
quarkus.http.cors=true
quarkus.datasource.db-kind=
quarkus.datasource.username=
quarkus.datasource.password= 
quarkus.datasource.jdbc.url=

mp.jwt.verify.publickey.location=
mp.jwt.verify.issuer=https://example.com/issuer